* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5fc;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
}

form {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 14px;
}

form input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    color: red;
}

ul li {
    font-size: 14px;
}

p {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin: 10px 0;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}


/* UPLOAD */

form input[type="file"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 14px;
}

ul.feedback-messages {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    color: red;
}

ul.feedback-messages li {
    font-size: 14px;
}

.btn-secondary {
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.btn-secondary:hover {
    background-color: #5a6268;
}