body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #007bff;
    color: white;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #007bff;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    color: #0056b3;
}

/* Style for the container of file actions */
.file-actions {
    display: flex;
    gap: 20px; /* Space between the buttons */
}

/* Style for each action button */
.file-actions button,
.file-actions a {
    padding: 10px 50px;
    text-decoration: none;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

/* Hover effect for buttons */
.file-actions button:hover,
.file-actions a:hover {
    background-color: #45a049;
}

/* Focus effect for buttons */
.file-actions button:focus,
.file-actions a:focus {
    outline: none;
}

/* Back to dashboard*/
.btn-secondary {
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.btn-secondary:hover {
    background-color: #5a6268;
}