/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('static\images\Best Way To Share Large Video File.jfif');
    background-size: cover; /* Cover the entire page */
    background-position: center center; /* Center the image */
    background-attachment: fixed; /* Keep the background fixed when scrolling */
}

/* Header styling */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0;
    font-size: 1.2em;
}

/* Navigation links */
header a {
    color: #ffc107;
    text-decoration: none;
    font-size: 1em;
    margin: 0 10px;
}

header a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Center the content */
main {
    text-align: center;
    padding: 50px;
}

/* Buttons (optional) */
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}


/*FOR LOGIN FORM */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* UPLOAD- Feedback Message */
.feedback-messages {
    list-style: none;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin: 20px 0;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px 0;
    background-color: #f1f1f1;
    color: #333;
    font-size: 0.9rem;
    border-top: 1px solid #ddd;
}

