<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure File Sharing</title>
    <link rel="stylesheet" href="static\home.css">
</head>
<body>
    
    <div class="header">SafeDocs: Secure File Management</div>
    <div class="title">Welcome to SafeDocs</div>
    
    <div class="description">
        Enjoy seamless and secure file management with SafeDocs. Our platform ensures your data is protected
        with top-notch encryption, providing peace of mind while you share your important files.
    </div>

    <div class="buttons">
        <a class="link" href="{{ url_for('login') }}">Login</a>
        <a class="link" href="{{ url_for('register') }}">Register</a>
    </div>

    <div class="footer">
        © January 2025 SafeDocs. All rights reserved.<br>
    </div>

    <!-- Placeholder for Feedback Messages 
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="feedback-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        -->
    
</body>
</html>
